* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 235, 216);
    overflow-x:clip;
}
*:not(.scroll-top) {
    background-color: rgb(255, 235, 216);
}
.title {
    padding:0px;
    margin:0px;
    display: flex;
    align-items: center;
    text-align:center;
    justify-content: center;
}
.info {
    margin: auto;
}
.image {
    max-width:70px;
    padding: 0px 20px 0px 20px;
}
.head {
    height: 100vh;
    width: 100vw;
    padding: 50px 0px 0px 0px;
    text-decoration:none;
    color:rgb(255, 159, 70);
    text-align: center;
}

.head button {
    border:thin solid orange;
    border-radius:15px;
    margin: 20px;
    padding: 0px 10px 0px 10px;
    font-size:30px;
    font-family:'Times New Roman', Times, serif;

    color:rgb(255, 140, 33);
    cursor:pointer;
}
button:hover{
    color: rgb(230, 111, 0);
}
.scroll-top {
    background-color: rgba(255, 235, 216, 0.595);
    position:sticky;
    top:0;
    padding-bottom:0px;
}
.scroll-top button {
    border:none;
    font-size:25px;
    font-family:'Times New Roman', Times, serif;

    color:rgb(255, 140, 33);
    padding: 20px 30px 5px 0px;
    cursor:pointer;
    text-decoration:none;
}
.scroll-top button:hover {
    cursor:n-resize;
    color:rgb(230, 111, 0);
}
.scroll-top h2{
    
    background: none;
    font-size:25px;
    text-decoration:none;
    border:none;
    margin:0;
    text-align:right;
}
h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    color:rgb(255, 123, 0);
}
h2{
    
    color:rgb(255, 123, 0);
    font-size: 25px;
    overflow-x: scroll;
}
h3 {
    color:rgb(255, 123, 0);
    font-size: 35px;
    padding: 50px 30px 30px 100px;
}
h4, .link-head a{
    
    color:rgb(255, 123, 0);
    font-size: 25px;
    padding: 30px 75px 0px 75px;
    text-decoration:none;
    font-weight:bold;
}
.refs a, .refs h4 {
    font-size: 18px;
    padding: 0px 75px 0px 75px;
    color:rgb(148, 116, 86);
}
.refs a:hover {
    color:rgb(255, 123, 0);
}
p{
    font-size: 20px;
    padding: 0px 75px 0px 75px;
    color:rgb(148, 116, 86);
}
#contact p {
    color:rgb(148, 116, 86);
    font-size: 18px;
}
#contact {
    padding-top: 100px;
    padding-bottom: 40px;
}
h5 {
    font-size: 18px;
    color:rgb(148, 116, 86);
    padding: 100px 75px 0px 75px;
}
#education {
    color:rgb(148, 116, 86);
}
.education-entry {
    padding: 0px 75px 0px 75px;
    display: flex;
    justify-content: space-between;
    margin-bottom:15px;
    font-size:20px;
}
.left {
    color:rgb(148, 116, 86);
}
.left, .right {
    flex:1;
}
.right {
    text-align:right;
}
@media screen and (max-width: 767px) {
    h2, .head button {
        
    }
}